.restaurants{
    width: 100%;
    background: #f6f6f6;

    

    &__cards{
        display: flex;
        flex-direction: column;
        
        border-radius: 20px;
        width: 90%;
        height: auto;
        gap: 20px;
        align-items: flex-start;
        text-align: start;
    
        margin: 0px 0px 50px 20px;
    }

    &__title{
        margin: 50px 0px 0px 0px;
        font-size: 24px;
        font-weight: bold;
    }

   
    &__card{
        width: 100%;
        border-radius: 20px;
        box-shadow: 0px 8px 24px rgb(149 157 165 / 20%);
        cursor: pointer;
        width: 100%;
        background-color: white;
    }

    &__link{
        text-decoration: none;
    }

    &__img{
        width: 100%;
        height: 150px;
        position: relative;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    &__tag{
        
        background: #99e2d0;
        color: #1b6150;
        font-weight: bold;
        width: 100px;
        height: 30px;
        text-align: center;
        
    }

    &__info{
        margin-left: 10px;
        text-decoration: none;
        align-items: center;
    }

    &__name{
        margin: 5px 0px 0px 0px;
        font-size: 16px;
        font-weight: bold;
        color: black;
        
    }

    &__location{
        margin: 5px 0px 15px 0px;
        font-size: 14px;
        color: black;
    }

    &__like{
        position: relative;

    }
}

@media screen and (min-width:992px){
    .restaurants{
        margin:auto;
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
    }

    .cards{
        width: auto;
        flex-wrap: wrap;
    }

}